
@media only screen and (max-width: 650px) {
    .mainContainer {
        display: flex; 
      justify-content: center;
    }

    .backPaper{
        width: 250px;
    }
  }

  .fullAppContainer{
      max-width: 1170px;
      margin: 0 auto;
  }