.card-container{
    max-width: 280px;
    height: 380px;
    /* display: flex; */
    /* flex-direction: column; */
    overflow: hidden;
    position: relative;
}

.card-container:hover .cardContent{
    cursor: pointer;
    top: -100px;
    /* opacity: 0.7; */
}

.card-container:hover .productInfo{
    background-color: rgba(255,255,255,0.6)
}


.card-container img{
    height: 60%;
    width: 100%;
}

.cardContent{
    overflow: hidden;
    position: relative;
    height: 50%;
    /* top: -100px; */
}

.product-add{
    height: 50%;
}

.add-product{
    background-color: white;
    width: 100%;
    padding-top: 20px;
    height: 90px;
    margin-top: 15px;
}

.productInfo{
    background-color: white;
    width: 100%;
    height: 50%;
}

.topControl{
    height: 50%;
}

.bottomControl{
    height: 50%;
}

.card-content{
    height: 40%;
    width: 100%;
}

.productName{
    color: grey;
    font-size: 17px;
    margin: 0;
    padding-bottom: 0;
}

.productValue{
    color: rgb(76, 81, 124);
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 0;
}

.productValueSecond{
    color: rgb(156, 156, 156);
    font-size: 14px;
    margin: 0;
}

.product-minus{
    background-color: rgb(156, 156, 156);
    padding: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.product-plus{
    background-color: rgb(156, 156, 156);
    padding: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px;
}

.product-less{
    background-color: rgb(156, 156, 156);
    padding: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px;
}






/* 
product-add
product-plus
product-less
product-quantity
product-button */
